In [118]:
import pandas as pd

In [119]:
xl_file = pd.read_excel("ghgp_data_2020.xlsx",sheet_name="Direct Emitters")

In [120]:
df = xl_file.iloc[2:,:]

In [1]:
print("v2")

v2

In [121]:
new_header = df.iloc[0] #Get the first row for the header
df = df[1:] #Take the data less the header row
df.columns = new_header #Set the header row as the df header

In [122]:
df.columns

Index(['Facility Id', 'FRS Id', 'Facility Name', 'City', 'State', 'Zip Code',
       'Address', 'County', 'Latitude', 'Longitude', 'Primary NAICS Code',
       'Industry Type (subparts)', 'Industry Type (sectors)',
       'Total reported direct emissions', 'CO2 emissions (non-biogenic) ',
       'Methane (CH4) emissions ', 'Nitrous Oxide (N2O) emissions ',
       'HFC emissions', 'PFC emissions', 'SF6 emissions ', 'NF3 emissions',
       'Other Fully Fluorinated GHG emissions', 'HFE emissions',
       'Very Short-lived Compounds emissions', 'Other GHGs (metric tons CO2e)',
       'Biogenic CO2 emissions (metric tons)', 'Stationary Combustion',
       'Electricity Generation', 'Adipic Acid Production',
       'Aluminum Production', 'Ammonia Manufacturing', 'Cement Production',
       'Electronics Manufacture', 'Ferroalloy Production',
       'Fluorinated GHG Production', 'Glass Production',
       'HCFC–22 Production from HFC–23 Destruction', 'Hydrogen Production',
       'Iron and Steel Production', 'Lead Production', 'Lime Production',
       'Magnesium Production', 'Miscellaneous Use of Carbonates',
       'Nitric Acid Production',
       'Petroleum and Natural Gas Systems – Offshore Production',
       'Petroleum and Natural Gas Systems – Processing',
       'Petroleum and Natural Gas Systems – Transmission/Compression',
       'Petroleum and Natural Gas Systems – Underground Storage',
       'Petroleum and Natural Gas Systems – LNG Storage',
       'Petroleum and Natural Gas Systems – LNG Import/Export',
       'Petrochemical Production', 'Petroleum Refining',
       'Phosphoric Acid Production', 'Pulp and Paper Manufacturing',
       'Silicon Carbide Production', 'Soda Ash Manufacturing',
       'Titanium Dioxide Production', 'Underground Coal Mines',
       'Zinc Production', 'Municipal Landfills',
       'Industrial Wastewater Treatment',
       'Manufacture of Electric Transmission and Distribution Equipment',
       'Industrial Waste Landfills',
       'Is some CO2 collected on-site and used to manufacture other products and therefore not emitted from the affected manufacturing process unit(s)? (as reported under Subpart G or S)',
       'Is some CO2 reported as emissions from the affected manufacturing process unit(s) under Subpart AA, G or P collected and transferred off-site or injected (as reported under Subpart PP)?',
       'Does the facility employ continuous emissions monitoring? '],
      dtype='object', name=2)

In [123]:
Companies = df[["Facility Name","Industry Type (sectors)","Total reported direct emissions"]]

In [124]:
Companies["Total reported direct emissions"]

3           504064
4          60819.7
5        40521.812
6       100500.948
7         29359.64
           ...
6513     22359.122
6514    325679.418
6515             0
6516      650907.1
6517      89476.75
Name: Total reported direct emissions, Length: 6515, dtype: object

In [125]:
df2 = Companies.astype({"Total reported direct emissions": float}, errors='raise') 
df2.dtypes

2
Facility Name                       object
Industry Type (sectors)             object
Total reported direct emissions    float64
dtype: object

In [126]:
df2= df2[df2["Total reported direct emissions"]<200000]

In [127]:
meanCo2 = df2["Total reported direct emissions"].mean()

In [128]:
meanCo2

58259.61328191368

In [129]:
stdCo2 = df2["Total reported direct emissions"].std()

In [130]:
Tesla = df2[df2.iloc[:,0] == "Tesla, Inc."]

In [131]:
Tesla

2    Facility Name Industry Type (sectors)  Total reported direct emissions
5789   Tesla, Inc.                   Other                        28075.544

In [132]:
df2["Total reported direct emissions"].size

4983

In [133]:
df2["stdCo2"] = (df2["Total reported direct emissions"] - meanCo2) / stdCo2

In [134]:
df2["PercentCo2"] = (df2["Total reported direct emissions"] - meanCo2) / meanCo2

In [135]:
df2[df2["Facility Name"]=="Tesla, Inc."]

2,Facility Name,Industry Type (sectors),Total reported direct emissions,stdCo2,PercentCo2
5789,"Tesla, Inc.",Other,28075.544,-0.676682,-0.518096

In [138]:
df2[df2["Facility Name"] == "Tesla, Inc."]

2,Facility Name,Industry Type (sectors),Total reported direct emissions,stdCo2,PercentCo2
5789,"Tesla, Inc.",Other,28075.544,-0.676682,-0.518096

In [139]:
df2[df2["Facility Name"] == "MERCEDES-BENZ US INTERNATIONAL INC"]

2,Facility Name,Industry Type (sectors),Total reported direct emissions,stdCo2,PercentCo2
3609,MERCEDES-BENZ US INTERNATIONAL INC,Other,40970.296,-0.387601,-0.296763

In [140]:
df2[df2["Facility Name"] == "FORD MOTOR COMPANY - FORD KENTUCKY TRUCK PLANT"]

2,Facility Name,Industry Type (sectors),Total reported direct emissions,stdCo2,PercentCo2
2119,FORD MOTOR COMPANY - FORD KENTUCKY TRUCK PLANT,Other,74118.92,0.355542,0.272218

In [141]:
df2[df2["Facility Name"] == "GENERAL ELECTRIC PEEBLES TEST OPERATIONS"]

2,Facility Name,Industry Type (sectors),Total reported direct emissions,stdCo2,PercentCo2
2272,GENERAL ELECTRIC PEEBLES TEST OPERATIONS,Other,42004.754,-0.36441,-0.279007

In [ ]:
Tesla = -0.518096
Ford = 0.272218
General_Electric = -0.279007

Mercedes = -0.296763